*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    
}
body{
    font-size: 1em;
    line-height: 1.5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url("../Images/3.avif");
    background-size: cover;        
    background-repeat: no-repeat;  
}

.btn-primary,
.btn-primary:hover {
    background-color: purple;
    border-color: purple;
}

p {
    font-size: 20px;
    color: #000;
    line-height: 1.7;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 6px;
}

.destination-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.img-box {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

a i {
    font-size: 40px;
    margin-right: 20px;
    color: darkblue;
  }
  a i:hover {
    color:darkblue ;
  }


  /* Responsiviteti */

@media (max-width: 576px) {

.nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 70px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    }

div{
background-color: #813a1e;
width: 50%;
display: flex; 
}

.p{ 
font-weight:400;
font-size:16px ;
color: #dda35b;
}

.h1{
display: none;
font-size: 16px;
}

body{ 
background-color: lightblue;
}

.nav-links.active {
   display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.cards {
 grid-template-columns: 1fr;
}

}


/* Very small phones */

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

img {
  max-width: 100%;
  height: auto;
}

}



